/* Utility Class */

body {
  font-family: "PT Sans", sans-serif;
}

header a,
nav a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #000;
}

/* ----- */

/* Header */
header {
  height: 100px;
  background-color: #fff;
}

header .privacy {
  width: 300px;
  color: #646568;
}

header #profile {
  width: 35px;
}

/* Nav */

nav ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

nav li {
  padding: 0 20px;
  cursor: pointer;
}

nav a {
  border-bottom: 2px solid transparent;
  padding: 10px 0;
  color: #646568;
}

nav a:hover {
  color: #3367d6;
  border-bottom: 2px solid #3367d6;
}

hr:not([size]) {
  margin-top: 10px;
  height: 0.5px;
}

/* Main */

main {
  margin-top: 100px;
}

main .container-custom {
  width: 900px;
  margin: 0 auto;
}

main a {
  color: #3367d6;
  text-decoration: none;
}

main p {
  font-size: 16px;
}

main ol {
  padding-left: 2rem;
}

main ol li {
  padding: 8px 0;
}
